body{
  background: #FFB6C1;
    strong{
      color:#FF1493 ;
  }
  h1{
    color: #FF1493 ;
    text-align: center;
    span{
      border: 1px solid  
      padding: 10px;
    }
  }
  p{
      text-align: center;
    }
    img {
      display: block;
      widht: 100%;
      heith: auto;
      max-width 600px;
      magin-left: auto;
      margin-right: auto;  
}
    footer{
      text-align: center;
      strong{
        color:blue;
      }
  }
}
